.you-help{
	background: #fff;
	border-radius: 5px;
	padding: 15px 30px;
	.caption{
		height: 140px;
	}
}
	.you-help-person{
		background: #fff;
		border-radius: 5px;
		p{
 				text-indent: 20px;
			}
			#history{
			    p{
			    	text-indent: 20px;
			    }
			}
	}